# Libraries

# Frontend App
/frontend/ @kdcptkai31

# Services
/services/gateway/ @dacruz21
/services/auth-service/ @dacruz21
/services/product-service/ @datowlcs
/services/deposit-service/ @dacruz21
/services/order-service/ @gruszkat98

# Helm Charts
/chart/ @dacruz21
**/chart/ @dacruz21

.drone.yml @dacruz21
docker-compose.yml @dacruz21
