# Libraries

# Frontend App
/frontend/ @kdcptkai31

# Services
/services/auth-service/ @dacruz21
/services/cart-service/ @dacruz21
/services/deposit-service/ @dacruz21
/services/gateway/ @dacruz21
/services/order-service/ @gruszkat98
/services/product-service/ @datowlcs

# Helm Charts
/chart/ @dacruz21
**/chart/ @dacruz21

.drone.yml @dacruz21
docker-compose.yml @dacruz21
